.calendar {
    display: flex;
}

.date-wrapper {
    width: 800px;
    //margin: 0 auto;
}


.vc-highlights {
    display: none;
    position: unset;
}
.vc-highlight-content-solid {
    color: inherit;
}
.vc-week {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.vc-day {
    width: 100px;
    min-height: 100px;
    padding: 28px 6px 6px;
    border: 1px solid gray;

    margin-right: 10px;

    justify-content: flex-start;
    align-items: flex-start;


    &:last-child {
        margin-right: 0;
    }

    .vc-day-content {
        position: absolute;
        top: 0;
        left: 0;
        width: unset;
        padding-left: 6px;
    }

    .cell_inner {
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
        width: 100%;

        .wish-list {
            display: flex;
            flex-direction: column;

            .item {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                border-radius: 6px;
                padding: 2px;
                margin-bottom: 4px;
    
                background-color: orange;
                color: white;
    
                .name {
                    font-size: 0.7rem;
                    margin-right: 0.1rem;
                }

                .price::after {
                    content: 'р.';
                }
            }
        }

        .total {
            border-top: 1px solid gray;
            display: none;
            justify-content: space-between;

            .price::after {
                content: 'р.';
            }
        }

        .wish-list:has(.item) ~ .total {
            display: flex;
        }
        
    }
}
.vc-monthly .is-not-in-month * {
    opacity: 0.4;
}


.needs-wrapper {
    flex: 1;
    
    border: 1px solid gray;
    border-radius: 10px;

    max-width: 100%;

    .needs {
        padding: 20px;
        border-bottom: 1px solid gray;

        .needs-list {
            display: flex;
            margin-bottom: 20px;
    
            .item {
                margin-right: 10px;
                border-radius: 10px;
                padding: 10px 20px;
                color: #fff;
                user-select: none;
    
                display: flex;
                
                /*cursor: grab;*/
                cursor: move;
                &.dragging {
                    /*cursor: grabbing;*/
                    opacity: 1;
                }
                .name {
                    margin-right: 4px;
                }
                .price::after {
                    content: 'р.';
                }
            }
        }
    }

    
}


